name: Check Pull Request

# Trigger on an opened PR (or commit to one):
on:
  pull_request:

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '12'
      - name: Cache NPM Node Modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - name: Install Node Modules
        run: npm install
      - name: Cache Working Directory
        uses: actions/cache@v2
        env:
          cache-name: cache-working-dir
        with:
          path: "*"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}
  build:
    needs: prepare
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Retrieve Working Directory
        uses: actions/cache@v2
        env:
          cache-name: cache-working-dir
        with:
          path: "*"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}
      - name: Node Lint
        run: npm run lint
      - name: NPM Build
        run: npm run build
      - name: Cache Build Assets
        uses: actions/cache@v2
        env:
          cache-name: cache-build-dist
        with:
          path: dist
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}
  package:
    needs: build
    name: Package
    runs-on: ubuntu-latest
    steps:
      - name: Retrieve Build Assets
        uses: actions/cache@v2
        env:
          cache-name: cache-build-dist
        with:
          path: dist
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}
      - name: Get Next Version Number
        id: next-version
        uses: actions/github-script@v3.1.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            var currentReleaseName = ""
            try {
              const getReleaseResp = await github.repos.getLatestRelease({
                owner: context.repo.owner,
                repo: context.repo.repo
              })
              currentReleaseName = getReleaseResp.data.name
              console.log(`Current Release Name: ${currentReleaseName}`)
            } catch(err) {
              if (err.name == 'HttpError') {
                console.warn("Found HttpError")
                if (err.status == 404)  {
                  console.warn("Error 404. No latest release found. Starting from 0.")
                  currentReleaseName = "v0"
                }
              } else {
                console.error(`Failed to get the latest release: ${err.message}`)
                throw err
              }
            }
            finally {
              var currentReleaseNumberStr = currentReleaseName.replace(/\D/g, '')
              var currentReleaseNumberParseInt = parseInt(currentReleaseNumberStr)
              var currentReleaseNumber = isNaN(currentReleaseNumberParseInt) ? 0 : currentReleaseNumberParseInt

              var nextRelease = "v" + (currentReleaseNumber + 1)
              console.log(`Next Release Version: ${nextRelease}`)
              console.log(`::set-output name=NEXTVERSION::${nextRelease}`)
            }
      - name: Create .zip Archive
        id: create-zip
        env:
          NEXTVERSION: ${{ steps.next-version.outputs.NEXTVERSION }}
        run: |
          ZIPFILENAME="pay-smoke-tests-${NEXTVERSION}-prerelease-${GITHUB_SHA::8}"
          zip -j -r $ZIPFILENAME.zip dist/zip/*

          echo "::set-output name=ZIPFILENAME::${ZIPFILENAME}"
      - name: Upload Archive
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.create-zip.outputs.ZIPFILENAME }}
          path: ${{ steps.create-zip.outputs.ZIPFILENAME }}.zip
          if-no-files-found: error
          retention-days: 5