# Currently this only runs npm lint and attempts to build the package
# The build is then cached and can be used for the post-merge release.
name: Test and build

on:
  pull_request:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@2fddd8803e2f5c9604345a0b591c3020ee971a93
        with:
          node-version: '14'
      - name: Cache NPM Node Modules
        uses: actions/cache@30f413bfed0a2bc738fdfd409e5a9e96b24545fd
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - name: Install Node Modules
        run: npm install
      - name: Node Lint
        run: npm run lint
      - name: Cache Working Directory
        uses: actions/cache@30f413bfed0a2bc738fdfd409e5a9e96b24545fd
        env:
          cache-name: cache-working-dir
        with:
          path: "*"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}

  build:
    needs: lint
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Retrieve Working Directory
        uses: actions/cache@30f413bfed0a2bc738fdfd409e5a9e96b24545fd
        env:
          cache-name: cache-working-dir
        with:
          path: "*"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}
      - name: NPM Build
        run: npm run build
      - name: Cache Build Assets
        uses: actions/cache@30f413bfed0a2bc738fdfd409e5a9e96b24545fd
        env:
          cache-name: cache-build-dist
        with:
          path: dist
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.sha }}
